.container  {
	background: #7a4db6
}

h1  {
	font-size: 70px;
	text-align:center;
}


.panel  {
	width:45%;
	position:relative;
	float:left;
	margin:15px;
}

#add    {
	width:90%;
	padding-bottom:100px;
	clear:left;
	text-align:center;
}